<pre style="font-family: Arial, Helvetica, sans-serif; font-size: 1.5em;">
□□□───────────────────────────────
  Trân trọng,
    ArtKids
    
  Email: contact@fptuhcm-capstone.tech
  Website: <a href="https://dashboard.fptuhcm-capstone.tech">https://dashboard.fptuhcm-capstone.tech</a>
────────────────────────────────□□□
</pre>